.topmenu__cartqty {
  background-color: green;
  padding: 0px 5px;
  border-radius: 50%;
  color: white;
  font-size: xx-small;
  position: absolute;
  top: 20px;
}

.topmenu__cartqty.mob {
  top: 0;
  z-index: 1;
}

.topmenu__carttotal {
  font-size: small;
  color: green;
}

.react-autosuggest__container input {
  height: 50px;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.47rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-autosuggest__container input:focus {
  border-color: #c46404;
  box-shadow: none;
  outline: none !important;
  box-shadow: none !important;
}
